examen2evaluacion/consultasalud.dtd

<!ELEMENT servicios (servicio+)>
<!ELEMENT servicio (cuota,plazas,dias,horarios,empleados)>
<!ATTLIST servicio nombre CDATA #REQUIRED>
<!ELEMENT cuota (precio,bono)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT bono (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT dias (#PCDATA)>
<!ELEMENT horarios (horariom,horariot)>
<!ELEMENT horariom (#PCDATA)>
<!ELEMENT horariot (#PCDATA)>
<!ELEMENT empleados (#PCDATA)>